data
__pycache__
.DS_Store
.env
.conda
datasets
real_apis
extractor/temp
API-Based-Agent/logs/log.log
.env
API-Based-Agent/logs/*.log*
extractor/apidocs/swaggerProteinAPIpart27/get_gene__centric_proteins_by_proteome_upid__deprecated__GET_response.json
