.endpoint-parent {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.endpoint-subtitle {
    font-weight: bold;
    white-space: pre-line;
}

.code-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    font-family: "Courier New", monospace;
    font-size: 12px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-x: auto;
    max-width: 100%;
}

.copy-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    max-height: 30px;
}

.endpoint-content {
    margin: 20px;
    display: none;
}

.endpoint-content ul {
    padding-left: 20px;
    padding-right: 20px;
}

.endpoint-example {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.endpoint-example button {
    width: 15%;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    max-height: 100px;
    flex-shrink: 0;
    height: auto;
}

.endpoint-example textarea {
    width: 85%;
    display: inline-block;
    flex-grow: 1;
    height: auto;
}
