
::-webkit-scrollbar {
	width: 10px;
	height: 3px;
	margin: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: grey;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html, body {
  height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:white;
}

#content_scroll {
	margin: 0;
	padding: 0;
	height: 95%;
	width: 100%;
	overflow-y: auto;
}
#content {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

div{
	margin:0px;
	padding:0px;
}

#scrolly {
		width: 342px;
		height: 20px;
		overflow: auto;
		overflow-y: hidden;
		margin: 0 auto;
		white-space: nowrap
}

hr {
    width: 100%;
    height:30px;
    background-clip:content-box;
    background-color:unset;
    border: none;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-group {
	margin: 0px;
	padding:0px;
	width: 100%;
}

.panel{
	background-color: unset;
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.div-border {
	width:100%;
	border: none;
	box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

.div-border-title {
	font-size: 18px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: lightgrey;
	background-color: #24292e;
	line-height: 30px;
	width:100%;
    border: 1px solid black;
    border: none;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	margin: 0;
	box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.4);
}
.div-border-margin {
	height: 30px;
	width:30%;
    border-top: none;
    border-bottom: 1px solid black;
	padding: 0;
	margin: 0;
}
.div-border-content {
	width:100%;
    border: 1px solid black;
    border-top: none;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

.div-text-content {
	width: 100%;
	text-align: justify;
	padding: 20px;
}

.div-grey-box {
	width: 100%;
	font-size: 18px;
	background: #D3D3D3;
	border-radius: 5px;
	text-justify: inter-word;
	float: left;
	text-align: justify;
	padding: 40px;
	margin-bottom: 20px;
}

.div-cell {
	display: flex;
	justify-content: left;
	align-items: center;
	border:none;
	width: 100%;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	overflow-x: auto;
}

.a-download {
	float: right;
	padding-right: 10px;
	color: paleturquoise;
}

.rounded-group {
	border-radius: 4px;
}

.protvista-loader {
		display: flex;
		justify-content: center;
		padding: 4rem 0;
}

.protvista-loader svg {
		height: 100px;
}

.protvista-no-results {
		background-color: #e4e8eb;
		display: flex;
		justify-content: center;
		padding: 1rem;
		font-size: 0.8rem;
}

.protvista-uniprot-structure__meta .no-bullet {
		list-style: none;
		padding: 0;
		margin: 0;
}

.protvista-uniprot-structure__meta .no-bullet li {
		padding: 0;
		margin: 0.5rem 0;
}

.protvista-uniprot-structure__meta .af-legend::before {
		/*
		This is the AlphaFold Legend lDDT color and size options!
		*/
		content: '';
		margin: 0;
		display: inline-block;
		width: 20px;
		height: 16px;
}

.download-link svg {
		width: 1rem;
		display: flex;
}

protvista-datatable table {
		width: 100%;
		padding: 0;
		margin: 0;
		border-spacing: 0;
}

protvista-datatable table th {
		width: fit-content;
		background: transparent;
		color: #0D47A1;
		display: none;
}

select {
  box-sizing: border-box;
  background-color: #E6E6E6;
  border-radius: 4px;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
	margin: 0px;
}
select:active, select:focus {
  outline: none;
  box-shadow: none;
}

select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#loading {
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
	padding: 20px;
}

#loading-image {
	width: 3%;
	height: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#loading-image-small {
	width: 8%;
	height: 33%;
}

.td-title {
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	font-weight: bold;
}

.td-row-name {
	width: 12%;
	padding: 1%;
}

.td-column-name {
	padding: 0;
}

.td-content {
	padding: 0;
}

.warning-message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: red;
	font-weight: bold;
	font-size: 18px;
}