#header {
	background-color: #24292e;
	width:100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.container-fluid {
	background-color: #24292e;
}

.header_main {
	font-size: 26px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: lightgrey !important;
	background-color: #24292e;
	text-decoration: none;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 8px;
	margin: 0px;
	margin-right: 20px;
	margin-left: 20px;
	display: inline-block;
    vertical-align: middle;
}

.header_search {
	vertical-align: middle;
	display: inline-flex;
	margin: 0px;
	margin-top: -1px;
	width: 200px;
	height: 40px;
	background-color: #24292e;
	color: #4c4c4c;
	border: 1px solid black;
}

.header_genotate:hover {
	color: white;
	text-decoration: none;
}

.header_link, .header_dropdown-toggle, .header_dropdown_link {
	font-family: Helvetica, Arial, Sans-Serif;
	color: lightgrey !important;
	background-color: #24292e;
	text-decoration: none;
	padding: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin:0px;
	margin-right:20px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

.header_dropdown_link {
	display: block;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.header_link:hover, #header>li>.header_dropdown-toggle:hover, .header_dropdown-toggle:focus, .header_dropdown_link:hover {
	color: white;
	text-decoration: none;
}

#header>li {
	display: inline;
}


#header>.dropdown {
	padding: 0;
	margin: 0;
	background-color: #24292e;
	color: lightgrey !important;
	font-size: 14px;
}

#header>.dropdown>.dropdown-menu {
	width: 100%;
	padding: 5px;
	margin: 0;
	margin-top: 10px;
	border-radius: 0%;
	border: 0;
	background-color: #24292e;
	color: lightgrey !important;
}
