*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    background-color: #24292e;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    list-style: none;
    float: right;
    margin: 0 auto;
}

nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}


nav ul li a {
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5px;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a.active {
    background: none;
    color: #0082e6;
    transition: 0.5s;
}

.checkbtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

#check {
    display: none;
}

#check:checked ~ ul {
    left: 0;
}

.logo {
    width: 310px;
}

label.logo a {
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 80px;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

.nav-transparent {
    background-color: rgba(129, 112, 204, 0);
}

#menu-small {
    display: block;
}

#menu-small li a {
    vertical-align: middle;
}

#menu-large {
    display: none;
}

#unilectin-title {
    display: none;
    margin-left: auto;
}

#header-title {
    margin-right: auto;
}

#search-output {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background-color: #D3D3D3;
    transition: opacity 1s ease;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#close-button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    align-items: center;
}

#close-button {
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

#keyword_search_content {
    max-height: 200px;
    overflow-y: auto;
    min-width: 300px;
}

.total-results {
    color: black;
    background-color: #24292e;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.search-entry {
    color: black;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
}

.module-entry-part {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.origin-entry-part {
    display: flex;
    justify-content: center;
}

.search-entry-button {
    width: 200px;
}

@media (min-width: 500px){
    label.logo a {
        font-size: 28px;
    }
}

@media (min-width: 550px){
    #keyword_search_content {
        min-width: 500px;
    }
}

@media (min-width: 1155px){
    #search_lectin {
        font-size: 18px;
        width: 80%;
        height: 40px;
        padding-top: 5px;
        margin: 0;
        border: none;
        text-align: left;
    }

    #header_search button {
        width: 20%;
        height: 40px;
        margin: 0;
        padding: 2px;
        font-size: 25px;
        float: right;
        border: none;
        border-radius: 5px;
    }

    #header_search button span {
        top: 5px;
    }

    .checkbtn {
        display: none;
    }

    nav ul {
        position: static;
        width: auto;
        height: 80px;
        background: inherit;
        top: auto;
        left: auto;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0;
    }

    nav ul li a {
        font-size: 14px;
    }

    #check:checked ~ ul {
        left: auto;
    }

    #search-elem {
        display: inline-block;
    }

    #menu-small {
        display: none;
    }

    #menu-large {
        display: flex;
        align-items: center;
    }

    #menu-large li a {
        vertical-align: middle;
    }

    #unilectin-title {
        display: inline-block;
    }
}

@media (min-width: 1315px){
    nav {
        padding-right: 100px;
        padding-left: 100px;
    }

    nav ul li a {
        font-size: 17px;
    }

    .logo {
        width: 340px;
    }

    label.logo a {
        font-size: 32px;
        padding: 0;
    }

}