* {
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body, p, th, td, input, textarea, select {
  font-size: 12px;
}
pre, pre i {
  font-size: 12px;
  font-family: Courier, monospace;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
  color: #444;
  margin: 0;
  padding: 0;
}
h6 {
  font-size: 11px;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #003399;
}
a:hover {
  color: #33cc99;
}

/* Top navigation bar */

#topnav {
  overflow: hidden;
  background-color: #666;
  max-width: 880px;
  min-width: 720px;
  height: 23px;
  white-space: nowrap;
}
.navlist {
  display: block;
}
.navlist a {
  float: left;
  color: white;
  padding: 4px 6px;
  margin-left: 60px;
  text-decoration: none;
}
.navlist a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown {
  float: left;
  display: inline-block;
  color: white;
  padding: 4px 6px;
  margin-left: 60px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #666;
}
.dropdown-content ul {
  float: none;
  list-style-type: none;
  margin-top: 6px;
  padding: 0;
}
.dropdown-content ul li {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 4px 10px;
}
.dropdown-content a {
  background-color: #666;
  color: white;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  padding: 4px 4px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Database navigation bar */

#dbnav {
  overflow: hidden;
  margin: 0 20px;
  max-width: 840px;
  min-width: 680px;
  text-align: justify;
  white-space: nowrap;
}
#dbnav ul {
  list-style-type: none;
  margin: 0 0 0 4px;
  padding: 0;
}
#dbnav ul li {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 0 6px 16px;
}
#ddmenu {
  display: block;
}
#ddmenu-sub {
  display: none;
  position: absolute;
  padding-top: 6px;
  line-height: 24px;
}
#ddmenu:hover #ddmenu-sub {
  display: block;
}

/* Header and footer */

#header {
  overflow: hidden;
  width: 780px;
  height: 105px;
  margin: 20px 20px 0 20px;
}
.logo {
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}
.title {
  display: inline-block;
  overflow: hidden;
  width: 600px;
  margin-left: 20px;
  float: left;
}
.title2 {
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}
.langbar {
  font-size: 11px;
  margin-right: 100px;
  padding-top: 15px;
  float: right;
}

#footer {
  margin-top: 8px;
  max-width: 840px;
  min-width: 680px;
  font-size: 10px;
  text-align: center;
}

/* Side panel */

#sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 23px;
  left: 20px;
  overflow-x: hidden;
  padding: 10px 0;
}
.logo2 {
  margin: 9px 0 10px 20px;
}
.menu3 {
  display: block;
  overflow: hidden;
  height: 800px;
  background: linear-gradient(#e0f0e0, 80%, white);
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu5 {
  display: block;
  overflow: hidden;
  height: 600px;
  background: linear-gradient(#e4ddf8, 80%, white);
  padding-top: 10px;
  padding-bottom: 10px;
}
#sidenav ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
#sidenav ul li {
  display: block;
  margin: 0;
  padding: 2px 0 2px 18px;
}
#sidenav .home {
  color: #660033;
}
#header2 {
  width: 640px;
  height: 118px;
  margin-left: 170px;
  overflow: hidden;
}
.topsearch {
  margin-top: 60px;
  margin-left: 30px;
}
#content2 {
  margin: 0 20px 10px 170px;
  max-width: 690px;
  min-width: 600px;
}
#footer2 {
  width: 620px;
  margin-left: 170px;
  padding-bottom: 20px;
  font-size: 10px;
  text-align: center;
}
#header3 {
  overflow: hidden;
  width: 780px;
  height: 85px;
  margin: 15px 20px 0 20px;
}
.logo3 {
  margin: 0 20px 10px 30px;
  float: left;
}
#sidebar {
  width: 150px;
  float: left;
  margin-left: 20px;
  padding: 10px 0;
  height: 800px;
  background: linear-gradient(#e0f0e0, 40%, white);
}
#sidebar ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
#sidebar ul li {
  display: block;
  margin: 0;
  padding: 2px 0 2px 14px;
}

/* Content */

#content {
  margin: 0 20px 20px 20px;
  max-width: 840px;
  min-width: 680px;
}

.searchbox {
  margin: 10px 40px;
}
.main {
  margin: 4px 20px;
}
.form {
  margin: 20px 20px 10px 20px;
}

span.new {
  color: #ff3333;
  font-size: 11px;
  font-style: italic;
}
span.small {
  font-size: 10px;
}
span.current {
  color: #444444;
}

td.center {
  text-align: center;
}
td.right, th.right {
  text-align: right;
}
tr.top {
  vertical-align: top;
}
td.nowrap {
  white-space: nowrap;
}

img.middle {
  vertical-align: middle;
}

div.indent {
  margin-left: 20px;
}
div.indent ul {
  margin: 10px 0;
  padding: 0;
}
div.indent ol {
  margin: 10px 0;
  padding: 0;
}
div.indent li {
  margin-left: 30px;
  padding-left: 0;
}
div.indent dl {
  margin: 10px 0;
  padding: 0;
}
div.indent dd {
  margin-left: 30px;
  padding-left: 0;
}

div.indent2 {
  margin: 10px 20px;
}

div.list {
  margin-left: 20px;
}
div.list ul {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}
div.list li {
  margin-left: 10px;
  list-style: none;
}
div.list dl {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}
div.list dt {
  width: 50px;
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
}
div.list dd {
  margin: 0;
  padding: 0;
  float: left;
}
div.clear {
  margin-bottom: 4px;
  clear: left;
}

div.list2 {
  margin-left: 20px;
}
div.list2 ul {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}
div.list2 li {
  margin-left: 10px;
  list-style: none;
}
div.list2 dl {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}
div.list2 dt {
  width: 50px;
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
}
div.list2 dd {
  margin: 0;
  padding: 0;
  float: left;
}

/* Color coding of databases */

.txt1 {
  color: #660033;
}
.txt2 {
  color: #003366;
}
.txt3 {
  color: #005050;
}
.txt4 {
  color: #663300;
}
.txt5 {
  color: #440066;
}
.bar0 {
  background-color: #f5e05f;
}
.bar1 {
  background-color: #f0e0e4;
}
.bar2 {
  background-color: #d4e4f0;
}
.bar3 {
  background-color: #e0f0e0;
}
.bar4 {
  background-color: #f2e9b6;
}
.bar5 {
  background-color: #e4ddf8;
}
.bar6   {
  background-color: #fccc99;
}
.bor1 {
  border: 2px solid #f0e0e4;
  padding: 10px;
}
.bor2 {
  border: 2px solid #d4e4f0;
  padding: 10px;
}
.bor3 {
  border: 2px solid #e0f0e0;
  padding: 10px;
}
.bor4 {
  border: 2px solid #f2e9b6;
  padding: 10px;
}
.bor5 {
  border: 2px solid #e4ddf8;
  padding: 10px;
}
hr.frame0 {
  border: 1px solid #f5e05f;
}
hr.frame1 {
  border: 1px solid #f0e0e4;
}
hr.frame2 {
  border: 1px solid #d4e4f0;
}
hr.frame3 {
  border: 1px solid #e0f0e0;
}
hr.frame4 {
  border: 1px solid #f2e9b6;
}
hr.frame5 {
  border: 1px solid #e4ddf8;
}
hr.frame6 {
  border: 1px solid #fccc99;
}
table.frame0 {
  border: 2px solid #f5e05f;
  border-collapse: collapse;
}
table.frame1 {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
}
table.frame2 {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
}
table.frame3 {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
}
table.frame4 {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
}
table.frame5 {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
}
table.frame6 {
  border: 2px solid #fccc99;
  border-collapse: collapse;
}
div.frame0 table, div.frame0 td, div.frame0 th {
  border: 1px solid #444444;
  border-collapse: collapse;
  padding: 2px;
}
div.frame1 table, div.frame1 td, div.frame1 th {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
  padding: 2px;
}
div.frame2 table, div.frame2 td, div.frame2 th {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
  padding: 2px;
}
div.frame3 table, div.frame3 td, div.frame3 th {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
  padding: 2px;
}
div.frame4 table, div.frame4 td, div.frame4 th {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
  padding: 2px;
}
div.frame5 table, div.frame5 td, div.frame5 th {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
  padding: 2px;
}
div.frame6 table, div.frame6 td, div.frame6 th {
  border: 2px solid #fccc99;
  border-collapse: collapse;
  padding: 2px;
}
pre.block {
  width: 660px;
  background-color: #e0f0e0;
  margin: 10px 0 10px 20px;
  padding: 10px;
  white-space: pre;
}
